In [1]:
import matplotlib
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import numpy as np
import psycopg2, os

In [2]:
conn_url = 'postgresql://postgres:123@localhost/5400'
engine = create_engine(conn_url)
connection = engine.connect()

conn = psycopg2.connect(
    host="localhost",
    port='5432',
    database="5400",
    user="postgres",
    password="123")
cur = conn.cursor()

In [3]:
pip install flask

Requirement already satisfied: flask in c:\users\jiang\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\jiang\anaconda3\lib\site-packages (from flask) (2.0.3)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\jiang\anaconda3\lib\site-packages (from flask) (2.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\jiang\anaconda3\lib\site-packages (from flask) (2.11.3)
Requirement already satisfied: click>=5.1 in c:\users\jiang\anaconda3\lib\site-packages (from flask) (7.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\jiang\anaconda3\lib\site-packages (from Jinja2>=2.10.1->flask) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [13]:
createTB = """
CREATE TABLE movies (
    id   INTEGER,
    title VARCHAR(255),
    length       INTEGER,
    start_year   INTEGER,
    end_year     INTEGER,
    average_rating  NUMERIC(4,1),
    num_votes     INTEGER,
    action        INTEGER,
    adult         INTEGER,
    adventure     INTEGER,
    animation     INTEGER,
    biography     INTEGER,
    comedy        INTEGER,
    crime         INTEGER,
    documentary   INTEGER,
    drama         INTEGER,
    family        INTEGER,    
    fantasy       INTEGER,
    film_noir     INTEGER,
    game_show     INTEGER,
    history       INTEGER,
    horror        INTEGER,
    music         INTEGER,
    musical       INTEGER,
    mystery       INTEGER,
    news          INTEGER,
    reality_tv    INTEGER,
    romance       INTEGER,
    sci_fi        INTEGER,
    short         INTEGER,
    sport         INTEGER,
    talk_show     INTEGER,
    thriller      INTEGER,
    war           INTEGER,
    western       INTEGER,
    PRIMARY KEY(id)
);



"""

connection.execute(createTB)

In [4]:
movies = pd.read_csv('agg_table_new.csv')

In [5]:
print(movies)

            id                         title  length  start_year  end_year  \
0            0   Istoriya grazhdanskoy voyny     133        2021      2021
1            1        La tierra de los toros      60        2000      2000
2            2                 Dama de noche     102        1993      1993
3            3             Arizona Territory      56        1950      1950
4            4                 Lebbra bianca     100        1951      1951
...        ...                           ...     ...         ...       ...
506492  506492           Meie aasta Aafrikas      43        2019      2019
506493  506493  Hotel pod poleglym alpinista      68        1976      1976
506494  506494           Kuambil Lagi Hatiku     123        2019      2019
506495  506495               Destinees Story      85        2019      2019
506496  506496                        6 Gunn     116        2017      2017

        average_rating  num_votes  action  adult  adventure  ...  news  \
0                  6.6         33       0      0          0  ...     0
1                  5.3         16       0      0          0  ...     0
2                  6.1         26       0      0          0  ...     0
3                  5.9         47       0      0          0  ...     0
4                  5.4         54       0      0          0  ...     0
...                ...        ...     ...    ...        ...  ...   ...
506492             8.6        107       0      0          1  ...     0
506493             5.8          5       0      0          0  ...     0
506494             8.3          6       0      0          0  ...     0
506495             6.1         20       0      0          0  ...     0
506496             8.4          6       0      0          0  ...     0

        reality_tv  romance  sci_fi  short  sport  talk_show  thriller  war  \
0                0        0       0      0      0          0         0    0
1                0        0       0      0      0          0         0    0
2                0        1       0      0      0          0         0    0
3                0        0       0      0      0          0         0    0
4                0        0       0      0      0          0         0    0
...            ...      ...     ...    ...    ...        ...       ...  ...
506492           0        0       0      0      0          0         0    0
506493           0        0       0      0      0          0         0    0
506494           0        0       0      0      0          0         0    0
506495           1        0       0      0      0          0         0    0
506496           0        0       0      0      0          0         0    0

        western
0             0
1             0
2             0
3             1
4             0
...         ...
506492        0
506493        0
506494        0
506495        0
506496        0

[506497 rows x 35 columns]

In [16]:
###
###movies.to_sql(    
###"movies",
###    con = engine,
###    index = False,
###    if_exists = 'append'
###  )
###

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "film-noir" of relation "movies" does not exist
LINE 1: ...medy, crime, documentary, drama, family, fantasy, "film-noir...
                                                             ^

[SQL: INSERT INTO movies (id, title, length, start_year, end_year, average_rating, num_votes, action, adult, adventure, animation, biography, comedy, crime, documentary, drama, family, fantasy, "film-noir", "game-show", history, horror, music, musical, mystery, news, "reality-tv", romance, "sci-fi", short, sport, "talk-show", thriller, war, western) VALUES (%(id)s, %(title)s, %(length)s, %(start_year)s, %(end_year)s, %(average_rating)s, %(num_votes)s, %(action)s, %(adult)s, %(adventure)s, %(animation)s, %(biography)s, %(comedy)s, %(crime)s, %(documentary)s, %(drama)s, %(family)s, %(fantasy)s, %(film-noir)s, %(game-show)s, %(history)s, %(horror)s, %(music)s, %(musical)s, %(mystery)s, %(news)s, %(reality-tv)s, %(romance)s, %(sci-fi)s, %(short)s, %(sport)s, %(talk-show)s, %(thriller)s, %(war)s, %(western)s)]
[parameters: ({'id': 0, 'title': 'Istoriya grazhdanskoy voyny', 'length': 133, 'start_year': 2021, 'end_year': 2021, 'average_rating': 6.6, 'num_votes': 33, 'action': 0, 'adult': 0, 'adventure': 0, 'animation': 0, 'biography': 0, 'comedy': 0, 'crime': 0, 'documentary': 1, 'drama': 0, 'family': 0, 'fantasy': 0, 'film-noir': 0, 'game-show': 0, 'history': 0, 'horror': 0, 'music': 0, 'musical': 0, 'mystery': 0, 'news': 0, 'reality-tv': 0, 'romance': 0, 'sci-fi': 0, 'short': 0, 'sport': 0, 'talk-show': 0, 'thriller': 0, 'war': 0, 'western': 0}, {'id': 1, 'title': 'La tierra de los toros', 'length': 60, 'start_year': 2000, 'end_year': 2000, 'average_rating': 5.3, 'num_votes': 16, 'action': 0, 'adult': 0, 'adventure': 0, 'animation': 0, 'biography': 0, 'comedy': 0, 'crime': 0, 'documentary': 0, 'drama': 0, 'family': 0, 'fantasy': 0, 'film-noir': 0, 'game-show': 0, 'history': 0, 'horror': 0, 'music': 0, 'musical': 0, 'mystery': 0, 'news': 0, 'reality-tv': 0, 'romance': 0, 'sci-fi': 0, 'short': 0, 'sport': 0, 'talk-show': 0, 'thriller': 0, 'war': 0, 'western': 0}, {'id': 2, 'title': 'Dama de noche', 'length': 102, 'start_year': 1993, 'end_year': 1993, 'average_rating': 6.1, 'num_votes': 26, 'action': 0, 'adult': 0, 'adventure': 0, 'animation': 0, 'biography': 0, 'comedy': 0, 'crime': 0, 'documentary': 0, 'drama': 1, 'family': 0, 'fantasy': 0, 'film-noir': 0, 'game-show': 0, 'history': 0, 'horror': 0, 'music': 0, 'musical': 0, 'mystery': 1, 'news': 0, 'reality-tv': 0, 'romance': 1, 'sci-fi': 0, 'short': 0, 'sport': 0, 'talk-show': 0, 'thriller': 0, 'war': 0, 'western': 0}, {'id': 3, 'title': 'Arizona Territory', 'length': 56, 'start_year': 1950, 'end_year': 1950, 'average_rating': 5.9, 'num_votes': 47, 'action': 0, 'adult': 0, 'adventure': 0, 'animation': 0, 'biography': 0, 'comedy': 0, 'crime': 0, 'documentary': 0, 'drama': 0, 'family': 0, 'fantasy': 0, 'film-noir': 0, 'game-show': 0, 'history': 0, 'horror': 0, 'music': 0, 'musical': 0, 'mystery': 0, 'news': 0, 'reality-tv': 0, 'romance': 0, 'sci-fi': 0, 'short': 0, 'sport': 0, 'talk-show': 0, 'thriller': 0, 'war': 0, 'western': 1}, {'id': 4, 'title': 'Lebbra bianca', 'length': 100, 'start_year': 1951, 'end_year': 1951, 'average_rating': 5.4, 'num_votes': 54, 'action': 0, 'adult': 0, 'adventure': 0, 'animation': 0, 'biography': 0, 'comedy': 0, 'crime': 0, 'documentary': 0, 'drama': 1, 'family': 0, 'fantasy': 0, 'film-noir': 0, 'game-show': 0, 'history': 0, 'horror': 0, 'music': 0, 'musical': 0, 'mystery': 0, 'news': 0, 'reality-tv': 0, 'romance': 0, 'sci-fi': 0, 'short': 0, 'sport': 0, 'talk-show': 0, 'thriller': 0, 'war': 0, 'western': 0}, {'id': 5, 'title': 'El negro que tenía el alma blanca', 'length': 87, 'start_year': 1951, 'end_year': 1951, 'average_rating': 6.6, 'num_votes': 41, 'action': 0, 'adult': 0, 'adventure': 0, 'animation': 0, 'biography': 0, 'comedy': 0, 'crime': 0, 'documentary': 0, 'drama': 1, 'family': 0, 'fantasy': 0, 'film-noir': 0, 'game-show': 0, 'history': 0, 'horror': 0, 'music': 0, 'musical': 1, 'mystery': 0, 'news': 0, 'reality-tv': 0, 'romance': 0, 'sci-fi': 0, 'short': 0, 'sport': 0, 'talk-show': 0, 'thriller': 0, 'war': 0, 'western': 0}, {'id': 6, 'title': 'Youre Only Young Twice', 'length': 81, 'start_year': 1952, 'end_year': 1952, 'average_rating': 5.9, 'num_votes': 86, 'action': 0, 'adult': 0, 'adventure': 0, 'animation': 0, 'biography': 0, 'comedy': 1, 'crime': 0, 'documentary': 0, 'drama': 0, 'family': 0, 'fantasy': 0, 'film-noir': 0, 'game-show': 0, 'history': 0, 'horror': 0, 'music': 0, 'musical': 0, 'mystery': 0, 'news': 0, 'reality-tv': 0, 'romance': 0, 'sci-fi': 0, 'short': 0, 'sport': 0, 'talk-show': 0, 'thriller': 0, 'war': 0, 'western': 0}, {'id': 7, 'title': 'El huésped del sevillano', 'length': 86, 'start_year': 1970, 'end_year': 1970, 'average_rating': 6.7, 'num_votes': 14, 'action': 0, 'adult': 0, 'adventure': 0, 'animation': 0, 'biography': 0, 'comedy': 1, 'crime': 0, 'documentary': 0, 'drama': 0, 'family': 0, 'fantasy': 0, 'film-noir': 0, 'game-show': 0, 'history': 0, 'horror': 0, 'music': 0, 'musical': 0, 'mystery': 0, 'news': 0, 'reality-tv': 0, 'romance': 0, 'sci-fi': 0, 'short': 0, 'sport': 0, 'talk-show': 0, 'thriller': 0, 'war': 0, 'western': 0}  ... displaying 10 of 506497 total bound parameter sets ...  {'id': 506495, 'title': 'Destinees Story', 'length': 85, 'start_year': 2019, 'end_year': 2019, 'average_rating': 6.1, 'num_votes': 20, 'action': 0, 'adult': 0, 'adventure': 0, 'animation': 0, 'biography': 0, 'comedy': 0, 'crime': 0, 'documentary': 0, 'drama': 0, 'family': 0, 'fantasy': 0, 'film-noir': 0, 'game-show': 0, 'history': 0, 'horror': 0, 'music': 0, 'musical': 0, 'mystery': 0, 'news': 0, 'reality-tv': 1, 'romance': 0, 'sci-fi': 0, 'short': 0, 'sport': 0, 'talk-show': 0, 'thriller': 0, 'war': 0, 'western': 0}, {'id': 506496, 'title': '6 Gunn', 'length': 116, 'start_year': 2017, 'end_year': 2017, 'average_rating': 8.4, 'num_votes': 6, 'action': 0, 'adult': 0, 'adventure': 0, 'animation': 0, 'biography': 0, 'comedy': 0, 'crime': 0, 'documentary': 0, 'drama': 0, 'family': 0, 'fantasy': 0, 'film-noir': 0, 'game-show': 0, 'history': 0, 'horror': 0, 'music': 0, 'musical': 0, 'mystery': 0, 'news': 0, 'reality-tv': 0, 'romance': 0, 'sci-fi': 0, 'short': 0, 'sport': 0, 'talk-show': 0, 'thriller': 0, 'war': 0, 'western': 0})]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [6]:
# example view: show the top 5 popular under crime movie type after 1990.

pop_crime='''
                   SELECT id, title, start_year, average_rating, num_votes, crime
FROM movies
WHERE crime=1 AND start_year>1990
ORDER BY average_rating DESC
LIMIT 5
'''
cur.execute(pop_crime)
pd.DataFrame(cur.fetchall(),columns=['id','title','start_year','average_rating','num_votes','crime']).head(5)

,id,title,start_year,average_rating,num_votes,crime
0,380624,When a Biker Comes to Bible Study,2014,10.0,27,1
1,342763,Coisa Pública,2022,10.0,13,1
2,351768,Ozymandias,2013,10.0,173671,1
3,253453,Plan and Execution,2022,9.9,32934,1
4,313361,Face Off,2011,9.9,60084,1

In [6]:
#pip install flask

Requirement already satisfied: flask in c:\users\jiang\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: click>=5.1 in c:\users\jiang\anaconda3\lib\site-packages (from flask) (7.0)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\jiang\anaconda3\lib\site-packages (from flask) (2.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\jiang\anaconda3\lib\site-packages (from flask) (2.11.3)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\jiang\anaconda3\lib\site-packages (from flask) (2.0.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\jiang\anaconda3\lib\site-packages (from Jinja2>=2.10.1->flask) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
#from flask import Flask, request, render_template
#app = Flask("Interactive App")

In [ ]:
#app.run(host='localhost',port=54321)

 * Serving Flask app "Interactive App" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://localhost:54321/ (Press CTRL+C to quit)
127.0.0.1 - - [20/Aug/2022 23:53:10] "GET / HTTP/1.1" 404 -
127.0.0.1 - - [20/Aug/2022 23:53:44] "GET / HTTP/1.1" 404 -

In [13]:
createTB = """
CREATE TABLE region (
    id           INTEGER,
    title        VARCHAR(255),
    region       VARCHAR(10)
);



"""

connection.execute(createTB)

#

In [14]:
region = pd.read_csv('region_new.csv')

In [15]:
print(region)

            id                     title region
0            1    La tierra de los toros     ES
1            2             Dama de noche     MX
2            2             Dama de noche     PH
3            3         Arizona Territory     US
4            4             Lebbra bianca     IT
...        ...                       ...    ...
673642  506489  Il talento del calabrone     IT
673643  506490     Ancient World Exposed     US
673644  506492       Meie aasta Aafrikas     EE
673645  506494       Kuambil Lagi Hatiku     ID
673646  506496                    6 Gunn     IN

[673647 rows x 3 columns]

In [16]:
region.to_sql(    
 "region",
  con = engine,
  index = False,
  if_exists = 'append'
 )

647